<div class="login-status-header">
  <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
    👋 Welcome back <strong>{{ userFullName }}</strong>
  </div>

  <ng-container *ngIf="!isAuthenticated">
    <button routerLink="/login" class="security-btn">Login</button>
  </ng-container>

  <ng-container *ngIf="isAuthenticated">
    <button (click)="logout()" class="security-btn">Logout</button>
    <button routerLink="/members" class="security-btn ml-1">Members</button>
    <button routerLink="/order-history" class="security-btn ml-1">Order History</button>

    <!-- 🛒 Satıcıya özel panel butonu -->
    <button *ngIf="isSeller" (click)="goToSellerDashboard()" class="security-btn ml-1">
      Satıcı Paneli
    </button>
  </ng-container>
</div>
